# Core privacy
/private/
/data/**
!/data/public_samples/**


# modelos/pesos & artefatos
*.pkl
*.joblib
*.h5
*.onnx
*.pt
*.ckpt
models/*
!models/*.png
weights/



# segredos e zips
*.env
.env*
*.zip


# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build / coverage
build/
dist/
.coverage
htmlcov/

# Logs
reports/logs/**

# Quarto / docs
docs/_site/
.quarto/

# Temp
*.tmp
*.bak
*.old

docs/**/slides_files/
docs/**/site_libs/
*.zip

# artefatos locais
reports/


